---
import { Image } from 'astro:assets'

import Tag from '@components/marquee/tag'
import MainLayout from '@layouts/MainLayout.astro'
import { technologies } from '@content/technologies'
import { projects } from '@content/projects'
import Grille from '@icons/grille.astro'
import Link from '@icons/link.astro'
import { BorderBeam } from '@components/magic-ui/border-beam'

const lang: 'es' | 'en' = (Astro.currentLocale as 'en' | 'es') ?? 'en'

const { id } = Astro.params
const project = projects.find((project) => project.id === id)!
---

<MainLayout>
  <div class="px-4 pt-[14px] flex flex-col justify-center">
    <div class="relative flex flex-col mb-14" transition:name=`project ${id} box`>
      <div class="text-center max-w-[500px] m-auto p-6 flex flex-col items-center">
        <h4
          class="inline-block text-3xl mb-3 font-bold tracking-[-1.2px] bg-repeat bg-clip-text bg-100% bg-dream-gradient"
          style="-webkit-text-fill-color:transparent"
        >
          {project?.[`title-${lang}`]}
        </h4>
        <p class="text-lg tracking-[-0.28px] leading-[140%]">
          {project?.[`description-${lang}`]}
        </p>
        <div class="my-4 flex w-fit flex-wrap justify-center gap-3">
          {
            project?.tags.map((tag) => {
              const nose = technologies[tag]
              const { title, Icon, background, color } = nose
              return <Tag title={title} Icon={Icon} background={background} color={color} />
            })
          }
        </div>
        <div class="flex justify-center items-center my-3">
          <Grille className="opacity-20 scale-y-[1] scale-x-[-1]" />
          <span class="w-max flex h-min">
            {
              project?.link ? (
                <a
                  href={project.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="mx-6 text-white"
                >
                  <Link />
                </a>
              ) : (
                <Image
                  loading="eager"
                  class="invert mx-6"
                  alt={'dots'}
                  src="/three-dots.svg"
                  width="35"
                  height="35"
                />
              )
            }
          </span>
          <Grille className="opacity-20 " />
        </div>
      </div>
      <div class="pt-2 flex gap-5">
        <div class="relative w-1/2 rounded-xl">
          <Image
            alt={`project-${id}`}
            transition:name=`project ${id} image`
            src={project?.image}
            width="150"
            height="150"
            loading="eager"
            class="object-cover rounded-xl w-full h-full"
          />
          <BorderBeam size={250} duration={12} delay={9} borderWidth={2} />
        </div>
        {
          project?.[`firstParagraph-${lang}`] && (
            <p class="text-sm tracking-[-0.25px] leading-[150%] text-pretty text-justify w-1/2">
              {project?.[`firstParagraph-${lang}`]}
            </p>
          )
        }
      </div>
      {
        project?.[`secondParagraph-${lang}`] && (
          <p class="text-sm tracking-[-0.25px] leading-[150%] text-pretty text-justify pt-5">
            {project?.[`secondParagraph-${lang}`]}
          </p>
        )
      }
      {
        project.images && project.images[0] && (
          <Image
            loading="eager"
            width="150"
            height="150"
            src={project.images[0]}
            alt={'project 1'}
            class="w-full rounded-xl mt-5"
          />
        )
      }
      {
        project?.[`thirdParagraph-${lang}`] && (
          <p class="text-sm tracking-[-0.25px] leading-[150%] text-pretty text-justify pt-5">
            {project?.[`thirdParagraph-${lang}`]}
          </p>
        )
      }
      {
        project.images && project.images[1] && (
          <Image
            loading="lazy"
            width="150"
            height="150"
            src={project.images[1]}
            alt={'project 2'}
            class="w-full rounded-xl mt-5"
          />
        )
      }
      {
        project?.[`fourthParagraph-${lang}`] && (
          <p class="text-sm tracking-[-0.25px] leading-[150%] text-pretty text-justify pt-5">
            {project?.[`fourthParagraph-${lang}`]}
          </p>
        )
      }
      {
        project.images && project.images[2] && (
          <Image
            loading="lazy"
            width="150"
            height="150"
            src={project.images[2]}
            alt={'project 3'}
            class="w-full rounded-xl mt-5"
          />
        )
      }
    </div>
  </div>
</MainLayout>
