---
import { Image } from 'astro:assets'
import type { Project } from '../../content/projects'

interface Props {
  project: Project
  isPageWork: boolean
}

const { project, isPageWork } = Astro.props
const lang: 'es' | 'en' = (Astro.currentLocale as 'en' | 'es') ?? 'en'
const {
  [`title-${lang}` as 'title-en' | 'title-es']: title,
  [`description-${lang}` as 'description-en' | 'description-es']: description,
  image,
  id,
  state,
  year
} = project
---

<article>
  <a
    href={`${lang === 'en' ? `/work/${id}` : `/es/work/${id}`}`}
    rel="noreferrer"
    transition:name=`project ${id} box`
  >
    <div
      class="mb-3 relative cursor-pointer p-3 rounded-[20px] before:rounded-lg before:block before:absolute before:-z-10 before:inset-[-2px] before:opacity-0 before:scale-75
      hover:transition-all hover:duration-300 before:hover:opacity-90 before:hover:scale-100 before:hover:transition-all before:hover:duration-300
      before:hover:bg-hover-background-light dark:before:hover:bg-hover-background"
    >
      <div class="w-full relative">
        <Image
          alt={`project-${id}`}
          transition:name=`project ${id} image`
          src={image}
          width="150"
          height="150"
          loading="eager"
          class="object-cover w-[200px] h-[200px] rounded-xl"
        /><noscript></noscript>
        <span
          class={`absolute top-0 ml-2 mt-2 uppercase font-bold py-[1px] px-[6px]
          ${state === 'private' ? 'bg-rose-700' : 'bg-teal-700'} text-white rounded-[9px] text-[10px]`}
        >
          {state}
        </span>
      </div>
      <div class="flex flex-col mt-[6px] text-dark dark:text-white">
        <h3
          class="font-bold text-base flex items-center my-1 tracking-[-0.4px]"
          transition:name=`project ${id} title`
        >
          {title}
        </h3>
        {
          isPageWork && (
            <span class="text-xs font-medium my-[2px] opacity-30 uppercase">{year}</span>
          )
        }
        <p
          class="tracking-[-0.25px] leading-[140%] font-normal opacity-60 text-[15px]"
          transition:name=`project ${id} description`
        >
          {description}
        </p>
      </div>
    </div>
  </a>
</article>
